version: "3.9"

services:
  web:
    extends:
      file: docker-compose.yml
      service: web
    environment:
      - DATABASE_URL
      - REDIS_URL
    unset:
      - env_file

  db:
    extends:
      file: docker-compose.yml
      service: web

  redis:
    image: redis:6.2

  celery_worker:
    extends:
      file: docker-compose.yml
      service: web
    environment:
      - DATABASE_URL
      - REDIS_URL
    unset:
      - env_file

volumes:
  pgdata:
