# TODO: Pin these to versions
# TODO: Split up base/dev/prod 
fastapi
uvicorn
asyncpg
aioredis
fastapi-users[all]
celery[redis]
sqlalchemy==2.0.12
sqlalchemy-stubs
alembic
# Development
python-dotenv
pytest==7.3.1
pytest-asyncio==0.21.0
pytest-postgresql
httpx