name: CI

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1
  USE_DOCKER: yes

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore: [ "docs/**" ]

  push:
    branches: [ "main" ]
    paths-ignore: [ "docs/**" ]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest

    environment: ci

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8 isort PyYAML
        
      - name: Run Black
        run: black . --check
    
      - name: Run Flake8
        run: flake8
  
      - name: Run iSort
        run: isort . --check-only --diff
  
      - name: Check YAML files
        run: find . -name "*.yaml" -exec yaml-lint {} \;

  pytest:
    runs-on: ubuntu-latest

    environment: ci

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Bring up the stack
        run:  docker compose -f docker-compose.ci.yml up -d

      - name: Run migrations
        run:  docker compose exec web alembic upgrade head

      - name: Run tests
        run:  docker compose exec web pytest
        
      - name: Tear down the stack
        run:  docker compose -f docker-compose.ci.yml down
